mat-card {
  table {
    width: calc(100% + 32px);
    margin-left: -16px;
  }

  .thumbs mat-icon {
    font-size: 1em;
    height: 1em;
    width: 1em;
  }

  .table-actions {
    text-align: right;
  }
}
